.layout-body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}
.layout-footer {
	height: 60px;
	background-color: #ee6e73;
	margin-left: 9%;
	margin-right: 9%;
}
.layout-header {
    padding: 1em;
    background-color: #ee6e73;
    margin-left: 9%;
    margin-right: 9%;
    height: 170px;
}
.header-text-content {
    margin-left: 5%;
}
.header-text-content h1 {
    color: #fff !important;
}
.header-text-content h4 {
    color: #FFCDD2 !important;
}
.footer-content {
	margin-left: 1%;
    padding-top: 1%;
    width: 180px;
    position: absolute;
}
.footer-mark {
	margin-left: 13%;
    margin-top: 1%;
}
.footer-mark:hover {   
    cursor: pointer;
    fill: #4078c0;
    text-decoration: none;
}
.img-result {
	width: 42px;
	height: 42px;
	position: absolute;
}
.div-content {
	font-size: 16px;
	color: black;
	padding-left: 50px;
}
.uncommon {
	color: #8edf67 !important;	
}
.rare {
	color: #49852f !important;	
}
.very_rare {
	color: #ffdc6f !important;	
}
.special {
	color: #ffa44d !important;	
}
.selection {
	background-color: rgba(255,255,255,0.9);
    width: 15%;
    height: 45px !important;
    margin-bottom: 1%;
    padding: 5px;
    border-radius: 2px;
}
.div-selection {
    text-align: right;
}
